@model IEnumerable<GreenGrocerApp.Web.ViewModels.Products.ProductViewModel>
@{
    ViewData["Title"] = "Products";
}

<h1>@ViewData["Title"]</h1>

@if (Model.Any())
{
    <div class="card-deck">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var product in Model)
            {
                <div class="col">
                    @await Html.PartialAsync("_ProductCardPartial", product)
                </div>
            }
        </div>
    </div>
}
else
{
    <p>No products available.</p>
}