@using GreenGrocerApp.Web.ViewModels.Categories
@model IEnumerable<CategoryViewModel>
@{
    ViewData["Title"] = "Categories";
}
<h1>Categories</h1>
<a asp-action="Create" class="btn btn-secondary mb-3">Create Category</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Products</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.ProductsCount</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>