/* _content/GreenGrocerApp.Web/Views/Shared/_Layout.cshtml.rz.scp.css */
 /* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
:root[b-meqa8cfb64] {
    --primary-green: #4CAF50;
    --secondary-green: #388E3C;
}

a.navbar-brand[b-meqa8cfb64] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-meqa8cfb64] {
    color: var(--primary-green);
}

    a:hover[b-meqa8cfb64],
    a:focus[b-meqa8cfb64] {
        color: var(--secondary-green);
    }

.btn-primary[b-meqa8cfb64] {
    color: #fff;
    background-color: var(--primary-green);
    border-color: var(--secondary-green);
}

    .btn-primary:hover[b-meqa8cfb64],
    .btn-primary:focus[b-meqa8cfb64] {
        background-color: var(--secondary-green);
        border-color: var(--secondary-green);
    }

.nav-pills .nav-link[b-meqa8cfb64] {
    color: var(--primary-green);
}

    .nav-pills .nav-link:hover[b-meqa8cfb64],
    .nav-pills .nav-link:focus[b-meqa8cfb64] {
        color: var(--secondary-green);
    }

    .nav-pills .nav-link.active[b-meqa8cfb64], .nav-pills .show > .nav-link[b-meqa8cfb64] {
        color: #fff;
        background-color: var(--primary-green);
        border-color: var(--secondary-green);
    }

.border-top[b-meqa8cfb64] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-meqa8cfb64] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-meqa8cfb64] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-meqa8cfb64] {
    font-size: 1rem;
    line-height: inherit;
}

.footer[b-meqa8cfb64] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
