@model GreenGrocerApp.Web.ViewModels.Categories.CategoryWithProductsViewModel

@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>
<p>@Model.Description</p>

@if (Model.Products.Any())
{
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var product in Model.Products)
        {
            <div class="col">
                @await Html.PartialAsync("_ProductCardPartial", product)
            </div>
        }
    </div>
}
else
{
    <p>No products available in this category.</p>
}