@page
@model GreenGrocerApp.Web.Areas.Identity.Pages.Account.Logout
@{
    ViewData["Title"] = "Log out";
}

<form method="post" id="logoutForm">
    <button type="submit" class="btn btn-link">Log out</button>
</form>